//950px
@media screen and (max-width: 950px ){
  .todo > .main-container {
    width: 50%;
  }
}

// 920pxx
@media screen and (max-width: 920px) {
 footer{
    > .container > .link > .msg{
      font-size: large;
     }
  }
}


// 850px 
@media screen and (max-width: 850px) {
  .myself > .details > p{
    letter-spacing: 0px;
    word-spacing: 0.5px;
    line-height: 145%;
    font-family: $montserrat;
    font-weight: 400;
    font-size: medium;
  }

  .todo > .main-container {
    width: 55%;
  }
}


// 730px 
@media screen and (max-width: 730px) {
  .headImage{
    > p{
        font-size: small;
        font-weight: 300;
        margin-top: -20px;
    } 
    > h5{
        font-size: medium;
        font-weight: 500;
    }
}

  .myself > .details{
    > p{
      letter-spacing: 0px;
      word-spacing: 0.5px;
      line-height: 145%;
    }
  }

  footer{
    > .container > .link > .msg{
      font-size: medium;
     }
  }

  .todo > .main-container {
    width: 60%;
  }
}


// 650pxx
@media screen and (max-width: 650px) {
  .myself > .details{
    > p{
      line-height: 125%;
      font-family: $montserrat;
      font-weight: 300;
      font-size: medium;
    }
    > .skill-container{
      height: 32vh;
      padding: 3px;
      margin-top: 2rem ;

      > .heading{
          background-color: $dMaroon;
          box-shadow: 0px 0px 10px 0px white;
          color: $lWhite;
          height: 2rem;
          display: flex;
          justify-content: center;
          margin: 0px 0px 15px 0px ;
          align-items: center;
          font-family: $montserrat;
          font-size: x-large;
          font-weight: 300 ;
          border-radius: 20px;
      }
      > .skills{
          color: $lWhite;
          width: 100%;
          height: 22vh;
          margin: 7px 0px;
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;

          > div{
              height: 2.1rem;
              padding: 0px 15px;
              font-family:  $golos;
              font-size: small;
              margin: 2px 2px;
               &:hover{
                  cursor: pointer;
               }
          }
      }
  }
  }

  footer{
    > .container > .link > .msg{
      font-size: small;
     }
  }

  .todo > .main-container {
    width: 70%;
  }
}



// 550px 
@media screen and (max-width: 550px) {
  .myself > .details{
    > p{
      line-height: 145%;
      font-weight: 300;
      font-size: small;
    }
    > .skill-container{
      > .heading{
          font-size: larger;
          font-weight: 400 ;
      }
      > .skills{
          height: 25vh;
          margin: 0px 0px;

          > div{
              height: 1.8rem;
              padding: 0px 10px;
              font-size: small;
              margin: 2px 2px;
               &:hover{
                  cursor: pointer;
               }
            }
         }
      }
   }

   footer{
    > .container{
      > .arrowUp{
        p{
          font-size: x-small;
        }
      }
      > .link > .msg{
        font-size: x-small;
       }
    }

  }

  .todo > .main-container {
    width: 85%;
  }
}

// 450pxx
@media screen and (max-width: 450px) {

  .myself > .details{
    > p{
      line-height: 125%;
      font-weight: 200;
      font-size: smaller;
    }
    > .skill-container{

      > .skills{
          > div{
              height: 1rem;
              padding: 0px 5px;
              font-size: small;
              margin: 1px 1px;
          }
      }
  }
  }

  footer{
    > .container{
      > .arrowUp{
        > a{
          border-radius: 50px;
          height: 40%;
          width: 50%;
        }
        p{
          font-size:7px;
        }
      }
      > .link > .msg{
        font-size: 7px;
       }
    }

  }

  .login{
    >form{
      width: 80%;
      height: 60vh;
     
      > .heading{
        font-size: 1.5rem;
      }

      > .content{
        width: 20rem ;
        height: 20rem;
      }
    }
  }

  .signup{
    > form{
      width: 80%;
      height: 60vh;

     > .heading{
      font-size: 1.5rem;
     }
     > .content {
      width: 20rem;
      height: 20rem;
     }
    }
  }

  .todo > .main-container {
    width: 98%;
  }
  
}


// 395px 
@media screen and (max-width: 395px) {

  .myself {
    flex-direction: column-reverse; 
     >.details{
      background-color: black;
      width: 90%;
     > h2{
      font-size: x-large;
      }
     > p{
      line-height: 150%;
      font-weight: 400;
      font-size: small;
      }
     > .skill-container{
      > .skills{
        height: 20vh;
          > div{
              height: 20px;
              padding: 1px 3px;
              font-size: small;
              margin: 1px 1px;
          }
       }
     }
   }
      > .image{
        display:none;
      }
  }

  .sidePanel{
    width: 19rem;
  }

  .login{
    >form{
      > .heading{
        font-size: 1.3rem;
      }

      > .content{
        width: 18rem ;
        height: 18rem;
      }
    }
  }

  .signup{
    >form{
      > .heading{
        font-size: 1.3rem;
      }

      > .content{
        width: 18rem;
        height: 18rem;
      }
    }
  }

  .todo > .main-container > .showItems > .eachItem {
       > h3{
        width: 90%;
        font-size: 13px;
        font-weight: 600;
       }
  }

}

// 290px 
@media screen and (max-width: 290px) {
  #header > .left > .heading {
      width: 8.5rem;  

      > h2{
    margin-top: 3px;
    font-size: 2rem;
    width: 8.5rem;
  }
  }
}


// 250px 
@media screen and (max-width: 250px) {
  #header {
    > .left {
    >.menu{
      width: 40px;
      margin-left: -15px;
    }
    
    > .heading {
       width: 8.5rem;  
    > h2{
    margin-top: 3px;
    font-size: 2rem;
    width: 8.5rem;
  }
}
}
> .setting{
  width: 40px;
  margin-right: -10px ;
  }
}

#emojiSearch > center > h2{
  font-size: large;
}

}