@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');

$darkNavyBlue: rgb(2, 27, 63) ;
$dMaroon : #2A0001 ;
$mMaroon : #450000 ;
$mdMaroon: #620000 ;
$lMaroon : #800000 ;
$dWhite  : #F2F3F4 ;
$lWhite  : #FFFFFF ;
$golos   : 'Golos Text', sans-serif ;
$montserrat : 'Montserrat', sans-serif ;

